#ventana .ventana_aplicacion {
    min-width:400px;
    min-height: 500px;
    width: 50%;
    height: 50%;
    position:absolute;
    background-color: white;
    top: 16%;
    left: 15%;
    overflow: hidden;
    resize: both;
    cursor: pointer;

}


.ventana_aplicacion .navegacion{
    width: 100%;
    height: 50px;
    padding: 5px;
    background: #41434D;
    position: absolute;
    top: 0;
    left: 0;
}

.ventana_aplicacion .navegacion span{
    margin-left: 16px;
    font-family: oswlad;
    font-size: 26px;
}

    .ventana_aplicacion .navegacion img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    }

.ventana_aplicacion .contenedor{
    color:black;
    width: 94%;
    height: 100%;
    left:0;
    position:absolute;
    margin:15px;
    padding:0;
    

   
}

